In [ ]:
import pandas as pd

In [ ]:
# O arquivo tem 5,6gb e 12284031 linhas, com a linha 1 sendo o cabeçalho, conforme visto no glogg
# Tentar verificar em duas partes

In [ ]:
df_rais_2019_sul_1 = pd.read_csv('RAIS_VINC_PUB_SUL.txt',
                                 sep=';', encoding='latin', nrows=6000000)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_rais_2019_sul_1.head()

             Bairros SP  ... Ind Trab Parcial
0             {ñ class}  ...                0
1             {ñ class}  ...                0
2             {ñ class}  ...                0
3             {ñ class}  ...                0
4             {ñ class}  ...                0

[5 rows x 60 columns]

In [ ]:
df_rais_2019_sul_1.shape

(6000000, 60)

In [ ]:
# Considerando apenas trabalhadores de empresas do RS (código 43 no IBGE)

df_rais_2019_sul_1['Município'] = df_rais_2019_sul_1['Município'].astype(str)

In [ ]:
df_rais_2019_sul_1['Município'].value_counts()[:20]

410690    1336366
411370     248730
411520     242814
410480     167344
420540     166169
412550     142249
411990     132726
420910     125990
410830      97817
420240      80090
412770      75985
421660      69288
410180      63005
410940      62714
411915      62612
410580      57149
420820      56657
411820      54542
420420      53318
410150      49652
Name: Município, dtype: int64

In [ ]:
df_rais_2019_RS_1 = df_rais_2019_sul_1[df_rais_2019_sul_1['Município'].str.startswith('43')]

In [ ]:
# Não existe empresa do RS nessa primeira parte do arquivo

df_rais_2019_RS_1.shape

(0, 60)

In [ ]:
# Carregando segunda parte

df_rais_2019_sul_2 = pd.read_csv('/content/drive/MyDrive/TC - Data Science/Linguagem ofensiva - Fairness e Bias/RAIS CAGED/RAIS_VINC_PUB_SUL.txt',
                               sep=';', encoding='latin', skiprows=range(1, 6000000))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_rais_2019_sul_2.head()

             Bairros SP  ... Ind Trab Parcial
0             {ñ class}  ...                0
1             {ñ class}  ...                0
2             {ñ class}  ...                0
3             {ñ class}  ...                0
4             {ñ class}  ...                0

[5 rows x 60 columns]

In [ ]:
df_rais_2019_sul_2.shape

(6284031, 60)

In [ ]:
df_rais_2019_sul_2['Município'] = df_rais_2019_sul_2['Município'].astype(str)

In [ ]:
df_rais_2019_RS = df_rais_2019_sul_2[df_rais_2019_sul_2['Município'].str.startswith('43')]

In [ ]:
df_rais_2019_RS.head()

                   Bairros SP  ... Ind Trab Parcial
2094570             {ñ class}  ...                0
2094571             {ñ class}  ...                0
2094572             {ñ class}  ...                0
2094573             {ñ class}  ...                0
2094574             {ñ class}  ...                0

[5 rows x 60 columns]

In [ ]:
df_rais_2019_RS.shape

(4189461, 60)

In [ ]:
df_rais_2019_RS.to_csv('df_rais_2019_RS.csv', index=False)

In [ ]:
df_rais_2019_RS['Município'].value_counts()

431490    955559
430510    229767
430460    119758
431340    103920
431440    100457
           ...
431075       211
432218       201
431507       185
430593       159
430583       150
Name: Município, Length: 497, dtype: int64